<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CursoJavaWeb</display-name>
  <servlet>
    <display-name>ProcesarFormulario</display-name>
    <servlet-name>ProcesarFormulario</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.ProcesarFormulario</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarFormulario</servlet-name>
    <url-pattern>/ProcesarFormulario</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcesarServlet</display-name>
    <servlet-name>ProcesarServlet</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.ProcesarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarServlet</servlet-name>
    <url-pattern>/ProcesarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/AlumnoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroLogin</display-name>
    <filter-name>FiltroLogin</filter-name>
    <filter-class>py.edu.ucsa.filters.FiltroLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLogin</filter-name>
    <url-pattern>/images/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>py.edu.ucsa.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description>Servlet para cerrar la session</description>
    <display-name>CerrarSession</display-name>
    <servlet-name>CerrarSession</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.CerrarSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSession</servlet-name>
    <url-pattern>/CerrarSession</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroHTML</display-name>
    <filter-name>FiltroHTML</filter-name>
    <filter-class>py.edu.ucsa.filters.FiltroHTML</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroHTML</filter-name>
    <url-pattern>/formulario.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProfesorServlet</display-name>
    <servlet-name>ProfesorServlet</servlet-name>
    <servlet-class>py.edu.ucsa.servlets.ProfesorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfesorServlet</servlet-name>
    <url-pattern>/ProfesorServlet</url-pattern>
  </servlet-mapping>
</web-app>